
#portfolio {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.row {
    margin: 0;
    padding: 0;
}
.container {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
.template-property {
    display: none;
}
.property {
    display: block;
}

.nivo-lightbox-overlay {
    height: 800px;
    transition: opacity 0.5s ease, transform 0.5s ease; /* Apply transition */
    transform: translateY(-284px);
    z-index: 10000;
}