
#portfolio {
    height: 5000px;
}

#panel0 {
    height: 100%;
    width: 100%;
}
#panel0 object {
    height: 100%;
    width: 100%;
}

#panel1 {
    height: 100%;
    width: 100%;
}
#panel1 object {
    height: 100%;
    width: 100%;
}

#panel2 {
    height: 100%;
    width: 100%;
}
#panel2r object {
    height: 100%;
    width: 100%;
}

.tm-portfolio {
    position: absolute !important;
    display: block;
    top: 0px;
    width: 100%;
}

.social-panels {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}