
#portfolio {
    height: 5000px;
}

#social {
    height: 100%;
    width: 100%;
}
#social object {
    height: 100%;
    width: 100%;
}

.tm-portfolio {
    position: absolute !important;
    display: block;
    top: 0px;
    width: 100%;
}